@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  font-family: 'Urbanist', sans-serif;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height:100%;
}
:root{
  font-family: 'Urbanist', sans-serif;
}

.menuList {
  list-style: none;
  cursor: pointer;
  position: relative;
}

.menuList::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 0;
  background: #2a69ff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: width 0.3s ease;
}

.menuList:hover::before {
  width: 100%;
}



.loginBtn,
.registerBtn {
  width:100%;
  padding: 0.5rem 1rem;
  border: 1px solid #2a69ff;
  border-radius: 1rem;
  background-color: #2a69ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.loginBtn:hover,
.registerBtn:hover {
  background-color: white;
  color: #2a69ff;
  border: 1px solid #2a69ff;  
}


.loginBtn:focus,
.registerBtn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(42, 105, 255, 0.5);
}

/* For WebKit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  margin: 1px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #dbcfcff1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a89e9e;
}

.custom-alert {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}


.error-message {
  margin: 0;
}

.close-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
